<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= statusCode %></title>
    <link rel="stylesheet" href="stylesheets/error.css" type="text/css">
    <link rel="shortcut icon" href="images/aboutUs-images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" referrerpolicy="no-referrer" />
    <!-- <script src="https://kit.fontawesome.com/539f78907e.js" crossorigin="anonymous"></script> -->
</head>
<body>
    

<main>
  <!-- Render Production Error -->
  <% if(process.env.NODE_ENV === 'production'){ %>
  <h1>An error occurred</h1>
  <h3><%= message %></h3>
  <% } %> 

  <!-- Render Development Error -->
  <% if(process.env.NODE_ENV === 'development'){ %>
  <h1><%= statusCode %> <%= status %></h1>
  <h4><%= error %></h4>
  <h4><%= stack %></h4>
  <h4></h4>
  <% } %>
  <p>Click the home button or try going back to the previous page</p>
  <form action="/">
      <input class="home-button"type="submit" value="Home">
  </form>
</main>

    
</body>
</html>