<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= statusCode %></title>
    <link rel="stylesheet" href="stylesheets/error.css" type="text/css" />
    <link
      rel="shortcut icon"
      href="images/aboutUs-images/favicon.ico"
      type="image/x-icon"
    />
    <script
      src="https://kit.fontawesome.com/539f78907e.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="header">
      <div class="navbar">
        <a class="navbar-brand" href="/">
          <!-- inline block align top left -->
          <img src="images/faq/fire_logo.png" alt="" />
          <h2 class="logo">Fire Tracker</h2>
        </a>
        <div menu-right class="float-right">
          <ul class="navbar-nav">
            <li class="dropdown">
              <select id="language" required>
                <option placeholder="Select your language">
                  Select Language
                </option>
                <option>English</option>
                <option>Spanish</option>
                <option>French</option>
                <option>Arabic</option>
                <option>Chinese</option>
              </select>
            </li>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a class="active" href="/about-us">About</a>
            </li>
            <li>
              <a href="/faq">FAQ</a>
            </li>
            <li>
              <a href="/contact">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <main style="max-width: 960px; margin-left: auto; margin-right: auto">
      <!-- Render Production Error -->
      <% if(process.env.NODE_ENV === 'production'){ %>
      <h1><%= statusCode %> Error</h1>
      <h3><%= message %></h3>
      <% } %>

      <!-- Render Development Error -->
      <% if(process.env.NODE_ENV === 'development'){ %>
      <h1><%= statusCode %> <%= status %></h1>
      <h4><%= error %></h4>
      <h4><%= stack %></h4>
      <h4></h4>
      <% } %>
      <p>Click the home button or try going back to the previous page</p>
      <form action="/">
        <input class="home-button" type="submit" value="Home" />
      </form>
    </main>

    <footer>
      <div class="footer-container">
        <div class="left-panel">
          <h5 class="subscribe">Subscribe</h5>

          <div class="subscribe-email">
            <form action="/subscribers" method="POST">
              <input
                name="email"
                class="email-border"
                type="text"
                id="newsletter-email"
                placeholder="Email Address"
                autocapitalize="off"
              />
              <button id="subscribe-btn" type="submit">Subscribe</button>
            </form>

            <p class="newsletter">
              I would like to receive communications about Fire Tracker app
              services.
            </p>
          </div>
        </div>
        <div class="right-panel">
          <div class="social-icons">
            <a class="facebook" href="https://www.facebook.com"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a class="instagram" href="http://www.instagram.com"
              ><i class="fab fa-instagram"></i
            ></a>
            <a class="twitter" href="https://www.twitter.com"
              ><i class="fab fa-twitter"></i
            ></a>
          </div>

          <div class="fire-contact">
            <p class="fire-number">
              Phone:1.800.123.4567 | Email: contact@firetracker.com
            </p>
            <p class="privacy-info">
              Privacy. Terms . &copy; Copyright 2021 Reskill
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
